# **Customer & Product Metrics**

### **Objective:**
- Identify top customers by revenue
- Identify best-performing products
- Build reusable analytics outputs from fact and dimension tables

### **1) Install Necessary Libraries**

In [3]:
pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (2.3.3)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from pandas) (2025.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\yatha\anaconda3\envs\pydata\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 29.8 MB/s  0:00:00
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 2.7/2.7 MB 31.4 MB/s  0:00:00
Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy

   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://postgres:1205@localhost:5432/customer revenue analytics"
)

In [6]:
engine.connect()

### **2) Revenue & orders per customer**

In [7]:
query_customer_metrics = """
SELECT
    c.customer_id,
    c.country,
    SUM(f.revenue) AS total_revenue,
    COUNT(DISTINCT f.invoice_no) AS total_orders,
    ROUND(SUM(f.revenue) / COUNT(DISTINCT f.invoice_no), 2) AS avg_order_value
FROM fact_sales f
JOIN dim_customer c
    ON f.customer_key = c.customer_key
GROUP BY c.customer_id, c.country
ORDER BY total_revenue DESC;
"""

In [8]:
df_customer_metrics = pd.read_sql(query_customer_metrics, engine)
df_customer_metrics.head()

   customer_id         country  total_revenue  total_orders  avg_order_value
0        18102  United Kingdom      598215.22           153          3909.90
1        14646     Netherlands      523342.07           164          3191.11
2        14156            EIRE      296564.69           202          1468.14
3        14911            EIRE      270248.53           510           529.90
4        17450  United Kingdom      233579.39            61          3829.17

### **3) Top 10 customers**

In [9]:
query_top_customers = """
SELECT
    c.customer_id,
    SUM(f.revenue) AS total_revenue
FROM fact_sales f
JOIN dim_customer c
    ON f.customer_key = c.customer_key
GROUP BY c.customer_id
ORDER BY total_revenue DESC
LIMIT 10;
"""

In [10]:
df_top_customers = pd.read_sql(query_top_customers, engine)
df_top_customers

   customer_id  total_revenue
0        18102      598215.22
1        14646      523342.07
2        14156      296564.69
3        14911      270248.53
4        17450      233579.39
5        13694      190825.52
6        17511      171885.98
7        12415      143269.29
8        16684      141502.25
9        15061      136391.48

### **4) Product metrics**

#####   **4.1) Product Performance**

In [ ]:
query_product_metrics = """
SELECT
    p.stock_code,
    p.description,
    SUM(f.quantity) AS total_units_sold,
    SUM(f.revenue) AS total_revenue
FROM fact_sales f
JOIN dim_product p
    ON f.product_key = p.product_key
GROUP BY p.stock_code, p.description
ORDER BY total_revenue DESC;
"""

In [12]:
df_product_metrics = pd.read_sql(query_product_metrics, engine)
df_product_metrics.head()

,stock_code,description,total_units_sold,total_revenue
0,22423,REGENCY CAKESTAND 3 TIER,23446,269736.70
1,85123A,CREAM HANGING HEART T-LIGHT HOLDER,90065,242855.86
2,85099B,JUMBO BAG RED RETROSPOT,93766,168440.36
3,84879,ASSORTED COLOUR BIRD ORNAMENT,79434,126354.18
4,POST,POSTAGE,5078,112249.10

#####   **4.2) Top 10 products**

In [13]:
df_product_metrics.head(10)

,stock_code,description,total_units_sold,total_revenue
0,22423,REGENCY CAKESTAND 3 TIER,23446,269736.70
1,85123A,CREAM HANGING HEART T-LIGHT HOLDER,90065,242855.86
2,85099B,JUMBO BAG RED RETROSPOT,93766,168440.36
3,84879,ASSORTED COLOUR BIRD ORNAMENT,79434,126354.18
4,POST,POSTAGE,5078,112249.10
5,47566,PARTY BUNTING,23335,102686.23
6,22086,PAPER CHAIN KIT 50'S CHRISTMAS,29001,78366.93
7,79321,CHILLI LIGHTS,15591,72229.34
8,22386,JUMBO BAG PINK POLKADOT,37230,67574.16
9,21137,BLACK RECORD COVER FRAME,19606,67127.15

### **5) Exporting CSV**

In [14]:
df_customer_metrics.to_csv(
    "../data/processed/customer_metrics.csv",
    index=False
)

In [15]:
df_product_metrics.to_csv(
    "../data/processed/product_metrics.csv",
    index=False
)

### **6) Sanity checks**

In [16]:
df_customer_metrics.shape
df_product_metrics.shape

(4646, 4)